{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>

            <div>
                <a href="{{ path("loginadmin") }}">Admin</a>
            </div>

            <div>
                <a href="{{ path("loginuser") }}">User</a>
            </div>

            <div>
                <a href="{{ path("logincoach") }}">Coach</a>
            </div>



        </div>
    </div>
{% endblock %}
